---
layout: single
---
<article class="post">
    <header class="post-header">
        <div class="post-title-meta">
            <h2 class="post-title">{{ page.title }}</h2>
            <h3 class="post-meta">
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y年%m月%d日" }}</time>
                {% if page.tags %} &nbsp;|&nbsp;
                    {% for tag in page.tags %}
                        <span class="tag">{{ tag }}</span>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                {% endif %}
            </h3>
        </div>
    </header>
    
    <div class="post-content">
        {{ content }}
    </div>
</article>

<nav class="post-navigation">
    {% if page.previous.url %}
    <a href="{{ page.previous.url | relative_url }}">&larr; {{ page.previous.title }}</a>
    {% endif %}
    
    {% if page.next.url %}
    <a href="{{ page.next.url | relative_url }}">{{ page.next.title }} &rarr;</a>
    {% endif %}
</nav>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    }
  };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>